<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>UIRequiresPersistentWiFi</key>
		<true/>
		<!-- <key>com.apple.developer.networking.multicast</key>
    		<true/> -->
		<key>NSLocalNetworkUsageDescription</key>
		<string>To increase security and facilitate off-the-grid workflows Keyper establishes direct connections with other Keyper instances in the same local network.</string>
		<key>NSBonjourServices</key>
		<array>
			<string>_guardianKeyper._udp</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>Keyper uses QR codes to link guardian devices to the main device</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app uses a QR-generation library that may put your geodata in the image file with the QR code</string>
		<key>NSFaceIDUsageDescription</key>
		<string>This app uses FaceID to protect your secrets</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Guardian Keyper</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Guardian Keyper</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UIRequiresFullScreen</key>
		<true/>
	</dict>
</plist>
